{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nos Sweat-shirts</h1>
    <section class="products-list">
        <div class="product-grid">
                <!-- Filtres de prix -->
        <form method="get" action="{{ path('app_products') }}">
            <label for="priceRange">Filtrer par prix :</label>
            <select name="priceRange" id="priceRange" onchange="this.form.submit()">
                <option value="all" {% if currentPriceRange == 'all' %}selected{% endif %}>Tous</option>
                <option value="10-29" {% if currentPriceRange == '10-29' %}selected{% endif %}>10 à 29 €</option>
                <option value="29-35" {% if currentPriceRange == '29-35' %}selected{% endif %}>29 à 35 €</option>
                <option value="35-50" {% if currentPriceRange == '35-50' %}selected{% endif %}>35 à 50 €</option>
            </select>
        </form>
            {% for sweatshirt in sweatshirts %}
                <div class="product-card">
                    <img src="{{ asset('images/' ~ sweatshirt.image) }}" alt="{{ sweatshirt.name }}">
                    <div class="product-details">
                        <h3>Nom : {{ sweatshirt.name }}</h3>
                        <p><strong>Prix : {{ sweatshirt.price }} €</strong></p>
                    </div>
                    <div class="product-action">
                        <a href="{{ path('product_show', {id: sweatshirt.id}) }}" class="btn">Voir</a>
                    </div>
                </div>
            {% else %}
                <p>Aucun produit disponible pour le moment.</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}