{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ sweatshirt.name }}</h1>

    <div class="show-product-details">
        <img src="{{ asset('images/' ~ sweatshirt.image) }}" alt="{{ sweatshirt.name }}">
        <div class="details">
            <P>Nom : {{ sweatshirt.name }} </p>
            <p>Prix : {{ sweatshirt.price }} €</p>
        </div>
        <div class="details-size">
            <h3>Tailles disponibles :</h3>
            <ul>
                {% for size in sweatshirt.sizes %}
                    <li>{{ size.size }} - Stock : {{ size.stock }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="add-cart">
            <a href="{{ path('app_cart', {id: sweatshirt.id}) }}" class="btn">Ajouter au panier</a> <br>
        </div>
        
    </div>
    <div>
        <a href="{{ path('app_products') }}" class="btn">Retour à la liste</a>
    <div>
{% endblock %}