{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ sweatshirt.name }}</h1>

    <div class="show-product-details">
        <img src="{{ asset('images/' ~ sweatshirt.image) }}" alt="{{ sweatshirt.name }}">
        <div class="details">
            <P>Nom : {{ sweatshirt.name }} </p>
            <p>Prix : {{ sweatshirt.price }} €</p>
        </div>
       <div class="details-size">
            <h3>Choisir une taille :</h3>
            <form action="{{ path('app_cart', {id: sweatshirt.id}) }}" method="post">
                <label for="size">Taille disponible :</label>
                <select name="size" id="size">
                    {% for size in sweatshirt.sizes %}
                        <option value="{{ size.size }}">{{ size.size }} - Stock : {{ size.stock }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <button type="submit" class="btn">Ajouter au panier</button>
            </form>
        </div>
        
    </div>
    
    <div>
        <a href="{{ path('app_products') }}" class="btn">Retour à la liste</a>
    <div>
{% endblock %}
