<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Stubborn{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/admin.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/cart.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/header.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/login.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/product.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/products.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/registration.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/footer.css') }}">
    
</head>
<body>
    <nav>
        <div class="nav-left">
            <a href="{{ path('home') }}">
                <img src="{{ asset('images/Logo.png') }}" alt="Logo" class="logo">
            </a>
            <div class="slogan">
                Don't compromise on your look
            </div>
        </div>
        <div class="nav-right">
            {% if app.user %}
                <!-- L'utilisateur est connecté -->
                <a href="{{ path('home') }}" class="{% if app.request.get('_route') == 'home' %}active{% endif %}">
                Accueil
                </a>
                <a href="{{ path('app_products') }}" class="{% if app.request.get('_route') == 'app_products' %}active{% endif %}">
                    Boutique
                </a>
                <a href="{{ path('app_cart_view') }}" class="{% if app.request.get('_route') == 'app_cart_view' %}active{% endif %}">
                 Panier
                </a>
                <a href="{{ path('app_logout') }}">
                    Se déconnecter
                </a>
            {% else %}
                <!-- L'utilisateur n'est pas connecté -->
                <a href="{{ path('home') }}" class="{% if app.request.get('_route') == 'home' %}active{% endif %}">
                Accueil
                </a>
                <a href="{{ path('app_register') }}" class="{% if app.request.get('_route') == 'app_register' %}active{% endif %}">
                    S'inscrire
                </a>
                <a href="{{ path('app_login') }}" class="{% if app.request.get('_route') == 'app_login' %}active{% endif %}">
                    Se connecter
                </a>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <footer>
        <div class="about-us">
            <p>Notre entreprise est spécialisée dans la création et la vente de sweat-shirts de qualité, adaptés à tous les styles et toutes les tailles. <br>
            <strong>Nom de la société</strong> : Stubborn <br>
            <strong>Adresse</strong> : Piccadilly Circus, London W1J 0DA, Royaume-Uni <br>
            <strong>Adresse de contact </strong>: stubborn@blabla.com <br>
            <strong>Slogan</strong>: Don't compromise on your look <br>
            </p>
        </div>
    </footer>
</body>
</html>