<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Stubborn{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
<body>
    <nav>
        <div class="nav-left">
            <a href="{{ path('home') }}">
                <img src="{{ asset('images/Logo.png') }}" alt="Logo" class="logo">
            </a>
        </div>
        <div class="nav-right">
            {% if app.user %}
                <!-- L'utilisateur est connecté -->
                <a href="{{ path('app_home') }}">Accueil</a>
                <a href="{{ path('app_products') }}">Boutique</a>
                <a href="{{ path('app_cart') }}">Panier</a>
                <a href="{{ path('app_logout') }}">Se déconnecter</a>
            {% else %}
                <!-- L'utilisateur n'est pas connecté -->
                <a href="{{ path('app_home') }}">Accueil</a>
                <a href="{{ path('app_register') }}">S'inscrire</a>
                <a href="{{ path('app_login') }}">Se connecter</a>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <footer>
        <!-- Footer ici -->
    </footer>
</body>
</html>